
a{
    text-decoration: none;
}
.main-header__navigate{
    display: flex;
    justify-content: end;
    list-style-type: none;
}
.main-header__container{
    background-color: rgb(226, 226, 191);
    height:80px;
}
.main-header__container nav{ 
    
    max-width:1400px;
    margin:0 auto; 
}
.container{
    margin-top:20px;
}
.navigate-item{
    margin-top:20px;
    margin-right:20px;
}
.btn-add{
    margin-top:20px;
}
.card__list{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width:1440px;
}
.card__block{
    min-width:300px;
    padding:11px;
    border:1px solid grey;
    border-radius: 10px;
    margin-top:10px;
}

.form__item{
    width:300px;
}
.login-btn{
    margin-top:15px;
}